@inject Moneteer.Identity.Helpers.IConfigurationHelper ConfigurationHelper

<a style="text-decoration: none;" href='@ConfigurationHelper.LandingUri'>
    <h1 class="header-text-shadow text-center mb-4 mt-5 text-primary font-weight-bolder">Moneteer</h1>
</a>