@inject Moneteer.Identity.Helpers.IConfigurationHelper ConfigurationHelper

<div class="text-center">
    <a style="text-decoration: none;" href='@ConfigurationHelper.LandingUri'>
        <img class="my-4" height="70" src="~/images/logo/logo-full.png" />
    </a>
</div>

