@model Moneteer.Identity.ViewModels.LoginViewModel
@inject Moneteer.Identity.Helpers.IConfigurationHelper ConfigurationHelper

<div class="container my-5">
    <form asp-action="Login" method="post" class="login" novalidate>
        <div class="row">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="card shadow-lg rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
                <h5 class="card-header">Login</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control form-control-lg" placeholder="Enter your email" autofocus />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control form-control-lg" placeholder="••••••••••" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="rememberMe">
                        <label class="form-check-label">
                            Remember Me
                        </label>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model.Error != null)
                    {
                        <div class="error active">
                            @Model.Error
                        </div>
                    }
                    
                </div>

                <div class="card-footer">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <button type="submit" class="col-md-6 btn btn-primary">Login</button>  
                            <a class="btn btn-link col-md-6 p-0 my-2 my-md-0" href='@string.Format("{0}/identity/account/forgotpassword", ConfigurationHelper.LandingUri)'>Forgot your password?</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>

    <div class="m-5 text-center">
        <div>Don't have an account yet?</div>
        <div><a href='@string.Format("{0}/identity/account/register", ConfigurationHelper.LandingUri)'>Get Started</a></div>
    </div>
</div>

