@model Moneteer.Identity.ViewModels.LoginWith2FAViewModel

<div class="container my-5">
    <form method="post" class="login" novalidate>
        <div class="row">
            <input asp-for="RememberMe" type="hidden" />
            <div class="card shadow-lg rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
                <h5 class="card-header">Login</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="TwoFactorCode">Code</label>
                        <input asp-for="TwoFactorCode" class="form-control form-control-lg" placeholder="Enter authenticator code" autofocus />
                        <small class="form-text text-muted">Enter the security code from your authenticator app.</small>
                        <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="RememberMe" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label asp-for="RememberMe" class="form-check-label">
                            Remember Me
                        </label>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Login</button> 
                </div>
            </div>
        </div>
    </form>

    <div class="m-5 text-center">
        <div>Lost your authenticator?</div>
        <div><a asp-page="/Account/LoginWithRecoveryCode">Login with recovery code</a></div>
    </div>
</div>